p { font-size: 18px; }
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }

/* overriding vue container class */
.container {
    padding: 24px 0;
}

@media only screen and (max-width: 959px) {
    .container {
        padding: 16px 0;
    }
}

/* overriding vue link color for link buttons */
button .v-btn__content a, .v-list__tile__action a {
    text-decoration: none;
    color: white;
}

#backButton{
    align-content: left;
 }
 
 #editButton{
    align-content: right;
 }

 .page-title {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    font-size: 5vw;
}

 .back-button {
     display: inline-block;
 }

/* ###### HOMESCREEN.VUE ###### */

#home-screen .page-title {
    display: block;
}

/* content section */
.inner {
    margin-top: 12%;
    padding: 8%;
    text-align: left;
}

.greeting {
    color: #DF5C46;
}

.message {
    margin: 10px 0;
    font-size: 18px;
}

.goals {
    background-color: #DF5C46;
    color: white;
}

/* 
tracker and collection sections
 */
.overflow {
    overflow: scroll;
}


.solid {
    background-color: #DF5C46;
    background-image: url('./img/triangles.png');
    background-repeat: repeat;
    background-size: cover;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.solid h3 {
    margin: 10px 0;

}

.inline-block {
    display: inline-block;
}

.right {
    float: right;
}

.add-button {
    padding: 0 10px;
    color: #DF5C46;
    /* filter: drop-shadow(1px 1px 3px gray); */
}

/* overriding vuetify button */
.v-btn--floating.v-btn--small.add-thing {
    padding: 0;
    margin-bottom: 18px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

/* 
stuff for boxes on home page 
*/
.box-container {
    text-align: left;
    overflow: auto;
    white-space: nowrap;
}

.box {
    height: 130px;
    width: 130px;
    display: inline-table;
    vertical-align: middle;

    margin: 20px 5%;
    margin-left: 0;
    /* background-color: gray; */
    border-radius: 3px;
    filter: drop-shadow(1px 1px 2px gray);
}

.box a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.box-text {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

/** CREATE TRACKER **/
#add-tracker-screen .section {
    text-align: center;
}

input, textarea, select {
    border-bottom: solid rgb(223, 92, 70) 2px;
}

.prompt {
    padding: 10px 0;
}

.section {
    /* border-bottom: solid lightgray .5px; */
    /* background-color: white; */
    margin: 6% 0;
    /* padding: 4%; */
}

.section-first {
    margin-top: 0;
}

.section-body {
    background-color: white;
    padding: 4%;
}

.section p {
    margin: 16px 0;
}

.section .optional {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

.section textarea {
    width: 90%;
}

.section select {
    width: 50%;
}

.submit-button {
    height: 50px;
}


/* Button Styles */
#small-button{
    /* padding:1px; */
    font-size: 12px;
    border: 1px solid;
    border-color: rgba(212, 212, 212, 0.925);
    color: #DF5C46;
    background-color: white;
    box-shadow: 0px 0px 0px;

}

/* popup */
.popup {
    text-align: center;
}


/* Nav styles */

.page-title {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    text-transform: capitalize;
    font-size: 4vw;
}

v-toolbar, #titlebar{
    /* position: fixed; */
    background-color: white;
    opacity: .95;
    /* padding-right: 0; */
}

/* override padding on nav */

div, .v-toolbar_content, #titlebar{
    padding:0;
    max-width: 100%;
}

/** VIEW TRACKER **/
.tracker-log-entry {
    border-bottom: solid .5px lightgray;
    margin-bottom: 10px;
}

.tracker-log-date {
    width: 20%;
    margin-right: 30px;
}

/** CHART **/

